/coverage
/coverage/**/*
/node_modules
/node_modules/**/*
/testing
/testing/**/*
/client/src
/client/src/**/*
/database/couchdb
/database/couchdb/**/*
.eslintrc.js
.gitignore
artillery.yml
deployed.yml
.prettierrc
babel.config.js
docker-compose.yml
jest.config.js
webpack.config.js
transform.js